.reviewWrapper {
  display: flex;
  flex-flow: column;
  gap: 30px;
  padding: 40px 100px;
}
@media (min-width: 1650px) {
  .reviewWrapper {
    padding: 40px 300px;
  }
}
.sliderParent {
  padding-bottom: 40px;
}
.sliderCard {
  margin-bottom: 60px;
  background-color: var(--background-color-light);
  border-radius: var(--card-border-radius);
  padding: 40px 30px;
  margin-left: 0px;
}
.reviewHeading {
  color: var(--primary-color);
}
.desc {
  font-size: 18px;
  font-weight: regular;
  line-height: 30px;
  color: var(--desc-font-color);
}
.imgWrapper {
  border-radius: 50%;
}
.reviewProfile {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.reviewProfileContent {
  display: flex;
  flex-flow: column;
}
.reviewName {
  color: var(--desc-font-color);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.reviewRole {
  color: var(--desc-font-color);
  font-size: 16px;
  font-weight: regular;
  text-transform: uppercase;
}
@media (max-width: 1281px) {
  .reviewWrapper {
    padding: 40px 80px;
  }
}
@media (max-width: 481px) {
  .reviewWrapper {
    padding: 20px;
  }
}
