:root {
  --border-radius-btn: 40px;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --h1-font-size-desktop: 37px;
  --h2-font-size-desktop: 32px;
  --primary-color: #185ba9;
  --secondary-color: #497d51;
  --background-color-light: #f4f9ff;
  --gradientColor: #185ca932;
  --desc-font-size-desktop: 16px;
  --desc-font-color: #434343;
  --subheading-color: #4d3636;
  --secondary-subheading-color: #2e2e2e;
  --card-border-radius: 30px;
  --small-card-border-radius: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h2 {
  font-size: var(--h2-font-size-desktop);
}
html,
body {
  font-family: "Nunito Sans", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
