.navWrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  padding: 0 100px;
}
.imgWrapper {
  position: relative;
  width: 180px;
  height: 37px;
}
.googlePlayStore {
  position: relative;
  width: 126px;
  height: 38px;
}
.scrolled {
  backdrop-filter: blur(40px) saturate(180%);
  -webkit-backdrop-filter: blur(40px) saturate(180%);
}
@media (max-width: 1281px) {
  .navWrapper {
    padding: 0px 80px;
  }
}
@media (max-width: 481px) {
  .navWrapper {
    padding: 0px 20px;
  }
}
