.featureWrap {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 70px;
  margin-bottom: 100px;
  padding: 40px 100px;
}
@media (min-width: 1650px) {
  .featureWrap {
    padding: 40px 300px;
  }
}
/* .gradientBack {
  position: absolute;
  width: 600px;
  height: 100%;
  right: 100px;
  top: -200px;
  z-index: -1;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(24, 91, 169, 0.2) 0%,
    rgba(255, 255, 255, 0) 70%
  );
} */
.headerWrap {
  display: flex;
  flex-flow: column;
  gap: 10px;
  align-items: center;
}
.heading {
  font-size: var(--h2-font-size-desktop);
  color: var(--primary-color);
  font-weight: 800;
  text-align: center;
}
.desc {
  font-size: 20px;
  color: var(--desc-font-color);
  width: 60%;
  text-align: center;
}
.featureContent {
  position: relative;
  display: grid;
  grid-template-columns: 24% 30% 24%;
  justify-content: center;
  gap: 25px;
}
.columnDiv {
  display: flex;
  flex-flow: column;
  gap: 30px;
}
.imageWrapper {
  position: relative;
  width: 90%;
  height: 600px;
}
.CardBox {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
  border: 1px solid #000000;
  border-radius: var(--card-border-radius);
  padding: 40px 20px;
}
.boxImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: 10px;
  border-radius: var(--small-card-border-radius);
  background-color: var(--secondary-color);
}
.boxHeading {
  font-size: 16px;
  color: var(--subheading-color);
  font-weight: bold;
  text-transform: uppercase;
}
.boxDesc {
  text-align: center;
  font-weight: regular;
  color: var(--subheading-color);
}
.singleDiv {
  display: flex;
  flex-flow: column;
  gap: 20px;
  overflow: hidden;
  background-color: var(--primary-color);
  border-radius: var(--card-border-radius);
  padding: 40px 30px 0px 30px;
}
.singleDesc {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  color: white;
}
.singleImgContainer {
  height: 100%;
  width: 100%;
  display: flex;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
  margin-bottom: -1100px;
}
@media (max-width: 1281px) {
  .featureWrap {
    padding: 40px 80px;
  }
  .featureContent {
    gap: 20px;
    grid-template-columns: 28% 40% 28%;
  }
  .boxHeading {
    text-align: center;
  }
}
@media (max-width: 481px) {
  .featureWrap {
    padding: 50px 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 30px;
  }
  .heading {
    text-align: center;
    font-size: var(--h2-font-size-mobile);
  }
  .desc {
    width: 100%;
  }
  .featureContent {
    display: flex;
    flex-flow: column;
  }
  .singleDiv {
    height: 500px;
  }
  .imageWrapper {
    height: 490px;
  }
  .CardBox {
    padding: 40px 20px;
  }
}
