.bg {
  background-color: var(--primary-color);
  padding: 100px;
  display: grid;
  grid-template-columns: 50% 49%;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 50px;
}
.Left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* background-color: aliceblue; */
}
.heading {
  font-size: 45px;
  font-weight: 800;
  color: white;
}
.Content {
  color: white;
  font-size: 20px;
}
.googlePlayStore {
  position: relative;
  width: 140px;
  height: 48px;
}
.right {
  height: 100%;
  position: relative;
}
.rightImg {
  position: absolute;
  right: 50px;
  bottom: -100px;
  width: 517px;
  height: 450px;
}
@media (max-width: 1281px) {
  .bg {
    padding: 70px;
    margin-top: 80px;
  }
  .heading {
    font-size: 37px;
  }
  .rightImg {
    position: absolute;
    top: -253.1px;
    left: 100px;
    width: 350px;
    height: 444px;
  }
}

@media (max-width: 481px) {
  .rightImg {
    display: none;
  }
  .bg {
    grid-template-columns: 100%;
    padding: 20px;
  }
}
