.bg {
    background-color: var(--primary-color);
    padding: 100px;
    display: grid;
    grid-template-columns: 50% 49%;
    align-items: center;
    margin-top: 100px;
}
.Left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: aliceblue; */
}
.heading {
    font-size: 45px;
    font-weight: 800;
    color: white;
}
.Content {
    color: white;
    font-size: 20px;
}
.googlePlayStore {
    position: relative;
    width: 156px;
    height: 46px;
}
.right {
    position: relative;
}
.rightImg {
    position: absolute;
    top: -312px;
    width: 600px;
    height: 544.55px;
}