.valuesWrapper {
  display: grid;
  grid-template-columns: 45% 35%;
  gap: 100px;
  padding: 80px 100px;
}
.leftValue {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgWrapper {
  position: relative;
  width: 86%;
  height: 591px;
}
.rightValue {
  display: flex;
  flex-flow: column;
  gap: 10px;

  align-items: flex-start;
  justify-content: center;
}
.valueHeading {
  width: 87%;
  color: var(--primary-color);
  font-size: var(--h2-font-size-desktop);
}
.valueDesc {
  font-size: 18px;
  line-height: 30px;
  color: var(--secondary-subheading-color);
}
