.valuesWrapper {
  display: grid;
  grid-template-columns: 45% 35%;
  gap: 100px;
  padding: 80px 100px;
}
.valuesWrapperInverted {
  display: grid;
  grid-template-columns: 40% 45%;
  gap: 100px;
  background-color: var(--background-color-light);
  padding: 40px 100px 40px 100px;
}
.leftValue,
.leftValueInverted {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgWrapper {
  position: relative;
  width: 86%;
  height: 581px;
}
.imgWrapperInverted {
  position: relative;
  width: 100%;
  height: 480px;
}
.rightValue {
  display: flex;
  flex-flow: column;
  gap: 10px;

  align-items: flex-start;
  justify-content: center;
}
.valueHeading {
  width: 87%;
  color: var(--primary-color);
  font-size: var(--h2-font-size-desktop);
}
.valueDesc {
  font-size: 18px;
  line-height: 30px;
  color: var(--secondary-subheading-color);
}
.lottieAnimation {
  width: 220px;
  position: absolute;
  bottom: -75px;
  left: -10px;
}
@media (max-width: 1281px) {
  .valuesWrapper {
    padding: 80px;
    grid-template-columns: 54% 39%;
    gap: 30px;
  }
  .imgWrapper {
    height: 541px;
  }
  .valuesWrapperInverted {
    padding: 40px 80px;
    grid-template-columns: 45% 51%;
    gap: 30px;
  }
  .imgWrapperInverted {
    height: 430px;
  }
  .lottieAnimation {
    width: 180px;
  }
}
@media (max-width: 481px) {
  .valuesWrapper,
  .valuesWrapperInverted {
    display: flex;
    flex-flow: column-reverse;
    gap: 30px;
    padding: 50px 20px;
  }
  .valuesWrapperInverted {
    flex-flow: column;
    gap: 30px;
  }
  .lottieAnimation {
    width: 150px;
    bottom: -77px;
  }
  .imgWrapperInverted {
    height: 320px;
  }
  .imgWrapper {
    height: 361px;
  }
  .rightValue {
    padding: 0 10px;
  }
  .valueHeading {
    font-size: var(--h2-font-size-mobile);
  }
}
